body {
    text-align: center;
    background-color: black;
    color: white;
}

#playerSide .hand {
    display: inline-block;
    border-style: solid;
    border-color: white;
}

.displayElement {
    display: inline-block;
    white-space: pre-wrap;
}

#gameDetails, #adminPanel, #adminDisplayPanel {
    margin: auto;
    background-color: gray;
    width: 50%;
    text-align: center;
    color: black;
    border-radius: 25px;
}

#pDealer, #pPlayer1 {
    white-space: pre-wrap;
}

#inBet {
    width: 12.5%;
}

#menu {
    padding: 5px;
}
